<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head> 
        <script src="https://unpkg.com/htmx.org@1.9.6"></script>
        <title> Kala: </title>
    </head>
    <body>
        <h1> To Do Tasks: </h1>

        <form hx-post="/addtask" hx-trigger="submit"  hx-swap="beforeend">
            <a>Enter Task: </a>
            <input type="text" name= "taskInfo" required> 
            <a>Enter Points: </a>
            <input type="text" name= "points" required> 
            <button type="submit">Add Task</button>  

        </form>

        
        <div id="taskList" hx-get="/gettask" hx-trigger="load" hx-swap="innerHTML" hx-swap-oob="true" ></div>

        <form hx-post="/deletetask" hx-trigger="submit"  hx-swap="beforeend" hx-on::after-request="this.reset()">
            <a>Delete Task: </a>
            <input type="text" name= "taskID" required> 
            <button type="submit">Delete Task</button>  

        </form>

         
    </body>
</html>


