<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head> 
        <script src="https://unpkg.com/htmx.org@1.9.6"></script>
        <title> Kala: </title>
    </head>
    <body>
        <h1> To Do Tasks: </h1>

        <form hx-post="/addtask" hx-trigger="submit"  hx-swap="beforeend">
            <a>Enter Task: </a>
            <input type="text" name= "taskInfo" required> 
            <button type="submit">Add Task</button>  

        </form>

        
        <div id="taskList" hx-get="/gettask" hx-trigger="load" hx-swap="innerHTML" hx-swap-oob="true"></div>


         
    </body>
</html>


