.tasks{
  
  display: flex; 
  flex-direction: column; 
  align-items: center;

  background: #1b1b1b;
  min-height: 100vh;
  
  .mytasks{
    display: flex;
    flex-direction: column;

    min-height: 30rem;
    min-width: 43rem;

    background: #131314;
    border-radius: 16px;
    flex-shrink: 1;

    overflow: hidden;

    .heading{

      display: flex; 
      flex-direction: row; 

      align-items: center;

      min-height: 3rem;
      overflow: hidden;
      // background: red;
      justify-content: space-between;

      padding-right: 0.3rem;
      overflow: visible;
      z-index: 1;

      .title{

        display: flex; 
        flex-direction: row; 
        align-items: center;


        //background: green;
        min-height: 2.5rem;
        overflow: hidden;

        margin-left: 1rem;

        font-weight: 400; 
        font-size: 1.125rem;

        color: #e3e3e3;
        font-family: "Lucida Console", "Courier New", monospace;

      }
      

      .dropdown-wrapper{ 
        position: relative; /* This is the key */
        display: inline-block;
      
       .dropDownBtn{ 
         background: none;

         svg{
           border: 0.3rem solid transparent;
           border-radius: 50%;
         }
  
         svg:hover{
           background: #1b1b1b;
         }

         
  
       }

       .dropdown {
         position: absolute;
         top: 100%;     /* Below the button */
         right: 0;      /* Right-aligned with button */
         z-index: 999;  /* Float above everything */

         background: #36373a;
         color: #c2c5c3;
         border: none;
         padding: 8px;
         border-radius: 4px;
         box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
         min-width: 180px; /* optional */
         min-height: 60px;
         -webkit-box-shadow: 4px 4px 3px 1px rgba(0,0,0,0.25); 
         box-shadow: 4px 4px 3px 1px rgba(0,0,0,0.2);
        }

      }



        
      

    }

    .addtasks{
      
      display: flex; 
      min-height: 2.5rem;
      flex-direction: row;

      align-items: center;
      
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      background: #131314;

      border-radius: 2rem;

      gap: 1rem;

      button{

        background: #1b1b1b;

      }


      p{
        color: #a8c7fa;
        font-family: "Lucida Console", "Courier New", monospace;
        font-weight: 400;
      }
    }

    .addtasks:hover{
      background: rgb(168, 199, 250,0.1);

      button{
        background: rgb(168, 199, 250,0.1);

      }

    }


    .pendingtasks{
      background: #131314;
      min-height: 22rem;
      max-height: 40rem;
      //min-width: 100%
      overflow-y: auto;

      .tempaddclass{
        display: flex;
        flex-direction: column;
        //align-items: center;


        background: #1e1f20;
        gap: 0.5rem;


        p{
          color: #e3e3e3;
          font-family: "Lucida Console", "Courier New", monospace;
          margin-left: 1rem;
          font-weight: 400; 
          font-size: 1rem;
         }


        .top{
          display: flex;
          flex-direction: row;
          gap: 1rem;
          
            p{
               color: #e3e3e3;
               font-family: "Lucida Console", "Courier New", monospace;
               margin-left: 1rem;
               font-weight: 400; 
               font-size: 1rem;
            }

            button{
              margin-left: 1rem;
              background: #1e1f20;
              color: #e3e3e3;
            }

            input{
              background-color: #1e1f20;
              color: #e3e3e3;
              border: none;
              outline: none;

              font-family: "Lucida Console", "Courier New", monospace;
              //margin-left: 1rem;
              font-weight: 400; 
              font-size: 1rem;

            }
        }

        .middle{

          margin-left: 3.5rem;

            input{
              background-color: #1e1f20;
              color: #e3e3e3;
              border: none;
              outline: none;

              font-family: "Lucida Console", "Courier New", monospace;
              //margin-left: 1rem;
              font-weight: 400; 
              font-size: 1rem;

            }

        }
        .bottom{
          margin-left: 3.5rem;
          padding-bottom: 1rem;
          button{
            min-height: 1.5rem;
            min-width: 3rem;
            background: #131314;
            color: #e3e3e3;
            border: 1px solid grey;
            border-radius: 10px;
            cursor: pointer;
          }

        }


      }
      
      

      .taskDisplayed{
          display: flex;
          flex-direction: column; 
          //padding-top: 0.5rem;


          &:hover {
              background: #1e1f20;
              button {
                background-color: #e3e3e3;
          
                svg {
                  fill: #e3e3e3; // change SVG color
                }
              }
          
        }
  

        .taskRow{
          display: flex;
          flex-direction: row;
          align-items: center;
  
          min-height: 2rem;
          max-height: 2.01rem;
  
          padding-top: 0.5rem;
  
          button{
            margin-left: 1rem;
            background: #131314;
            color: #e3e3e3;
  
            svg{
              fill: #e3e3e3;
            }
    
            &.active {
                background: #131314;
                svg{
                  fill: #a8c7fa;
                }
            }
  
  
          }
  
  
          p{
           color: #e3e3e3;
           font-family: "Lucida Console", "Courier New", monospace;
           margin-left: 1rem;
           font-weight: 400; 
           font-size: 1.15rem;
          }
  
        }

        .taskDetails{
          margin-left: 2.5rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;


          h3{
           color: #e3e3e3;
           font-family: "Lucida Console", "Courier New", monospace;
           margin-left: 1rem;
           font-weight: 400; 
           font-size: 1rem;
           padding-bottom: 0.5rem;

          }

          p{
           color: #e3e3e3;
           font-family: "Lucida Console", "Courier New", monospace;
           margin-left: 1rem;
           font-weight: 400; 
           font-size: 1rem;
          }


  

        }
  
      }

    }

    .completedtasks{
      display: flex; 
      flex-direction: row; 

      align-items: center;
      min-height: 3rem;
      overflow: hidden;
      background: #131314;

      margin-left: 1rem;
      padding-bottom: 0.5rem;

      gap: 0.5rem;

      button{
        background: #131314;

        border: 0.2rem solid transparent;
        border-radius: 50%;
      }
      button:hover{
        background: #1b1b1b;
      }

      p{
        color: #e3e3e3;
        font-family: "Lucida Console", "Courier New", monospace;
        font-weight: 400;
        font-size: 0.875rem;

      }


      
    }

    
    
  }

  .mytasks:hover{
    -webkit-box-shadow: 0px -1px 0px 2px rgba(0,0,0,0.71); 
    box-shadow: 0px -1px 0px 2px rgba(0,0,0,0.3);
  }
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}


.modal{
  display: flex; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0, 0.5); 
  justify-content: center;
  align-items: center;

  .modalcontent{
    display: flex; 
    flex-direction: column;
    
    max-width: 17.1rem;
    min-width: 17rem;

    max-height: 20.1rem;
    min-height: 20rem;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    background-color: #1e1e1e;
    margin: 15% auto; 
    padding: 20px;
    border-radius: 8px;
    width: 80%; 

    color: #e3e3e3;
    gap: 1rem;

    overflow-y: auto;

    p{
          color: #e3e3e3;
          font-family: "Lucida Console", "Courier New", monospace;
          font-weight: 400;
          font-size: 16px;
    }

    input{
          border: none; 
          background: none; 
          width: 100%;
          border-bottom: 2px solid #a8c7fa;
          border-radius: 3px;
          color: #e3e3e3;
          outline: none;

    }

    .range{
      display: flex; 
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      button{
          display: flex;
          justify-content: flex-start;
          //margin-left: 1rem;
          background: #1e1f20;
          color: #e3e3e3;
          cursor: pointer;
          border: none;

          &.active {
              svg{
                fill: #a8c7fa;
              }

          }
        }
 
      p{
          padding-top: 5px;
          color: #e3e3e3;
          font-family: "Lucida Console", "Courier New", monospace;
          font-weight: 400;
          font-size: 16px;
      }
      

    }

    .rangeDropdown{
      display: flex; 
      flex-direction: column; 
      gap: 1rem;
      
      .setrange{
        display: flex;
        flex-direction: column;
        gap:1rem;

      }

    }

    .repeat{
      display: flex; 
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      button{
          display: flex;
          justify-content: flex-start;
          //margin-left: 1rem;
          background: #1e1f20;
          //background: red;
          color: #e3e3e3;
          cursor: pointer;
          border: none;

          &.active {
              svg{
                fill: #a8c7fa;
              }

          }
        }
 
      p{
          padding-top: 5px;
          color: #e3e3e3;
          font-family: "Lucida Console", "Courier New", monospace;
          font-weight: 400;
          font-size: 16px;
      }
    }

    .repeatDropdown{
      display: flex; 
      flex-direction: column; 
      gap: 1rem;

      .top{
        display: flex;
        flex-direction: row;
        gap: 1rem;

         input{
               border: none; 
               background: none; 
               width: 100%;
               border-bottom: 2px solid #a8c7fa;
               border-radius: 3px;
               color: #e3e3e3;
               outline: none;

         }

         select{
              background: #36373a;
              padding: 0.5rem;
              color: #e3e3e3;

         }
      }

      .ends{
        display: flex; 
        flex-direction: column; 
        gap: 1rem;
        button{
          display: flex;
          justify-content: flex-start;
          //margin-left: 1rem;
          background: #1e1f20;
          color: #e3e3e3;
          cursor: pointer;
          border: none;
        

        &.active {
          svg{
              fill: #a8c7fa;
              //background: red;
          }
        }

        }


        p{
          padding-top: 5px;
          color: #e3e3e3;
          font-family: "Lucida Console", "Courier New", monospace;
          font-weight: 400;
          font-size: 16px;
         }


        .never{
          display: flex; 
          flex-direction: row;
          align-items: center;
          gap: 1rem;
        }

        .on{
          display: flex; 
          flex-direction: row;
          align-items: center;
          gap: 1rem;
        }
 
        .after{
          display: flex; 
          flex-direction: row;
          align-items: center;
          gap: 1rem;

          .occurrences{
            display: flex; 
            flex-direction: row;
            gap: 0.5rem;
          }
        }
 
 

      }


    }

    .bottom{
      background: #1e1e1e;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      
      margin-left: 3rem;
      padding-top: 4rem;
      
      button{
          color: #e3e3e3;
          font-family: "Lucida Console", "Courier New", monospace;
          font-weight: 400;
          font-size: 16px;
      
          background: #1e1e1e;
          border: 1px solid transparent;
          border-radius: 10px;
          color: #a8c7fa;
          cursor: pointer;
          padding: 5px 10px;
          
        
      }
    }
  }
}



  .modal-overlay {
    display: flex; 
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* High z-index to ensure it overlays everything */

    .modal {
      display: flex; 
      flex-direction: column;
      background: #1e1e1e;
      border-radius: 8px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
      color: white;
      
      max-height: 29rem;
      min-height: 28.99rem;
      min-width: 17rem;
      max-width: 17.001rem;

      padding: 1rem;

      align-items: center;

      .top{
        display: flex;
        flex-direction: row;
        align-items: left;
        //background: red;
        width: 100%;

        p{
          padding-top: 4px;
          color: #e3e3e3;
          font-family: "Lucida Console", "Courier New", monospace;
          font-weight: 400;

        }
      }


      .bottom{
        
        background: #1e1e1e;
        
        padding: 1rem;
        
        .cancel{
          color: #e3e3e3;
          font-family: "Lucida Console", "Courier New", monospace;
          font-weight: 400;
          font-size: 16px;
      
          background: #1e1e1e;
          border: 1px solid transparent;
          border-radius: 10px;
          color: #a8c7fa;
          cursor: pointer;
          padding: 5px 10px;
          
        }
      
        .cancel:hover{
          background: rgba(174,203,250,0.3);
        }

        
        
        
        .done{
          background: #1e1e1e; 
          color: #e3e3e3;
          font-family: "Lucida Console", "Courier New", monospace;
          font-weight: 400;
          font-size: 16px;
      
          //background: red;
          border: 1px solid transparent;
          border-radius: 10px;
          color: #a8c7fa;
          cursor: pointer;
          padding: 5px 10px;
          

        }

        
      
      }

      .middle{
        //background: red;
        padding: 1rem;
        width: 100%;
        .textbox{
          border: none; 
          background: none; 
          width: 100%;
          border-bottom: 2px solid #a8c7fa;
          padding-top: 1.5rem;
          border-radius: 3px;
          color: #e3e3e3;
          outline: none;
        }

        .textbox::placeholder {
          color: #e3e3e3;
        }
      }

      .settime{
        display: flex;
        flex-direction: column;
        width: 100%;
        
        gap: 0.5rem;
        padding: 0.5rem;
        p{
          color: #e3e3e3;
          font-family: "Lucida Console", "Courier New", monospace;
          font-weight: 400;
          font-size: 16px;
        }

        input{
            border: none; 
            background: none; 
            width: 100%;
            border-bottom: 2px solid #a8c7fa;
            //padding-bottom: 1.5rem;
            border-radius: 3px;
            color: #e3e3e3;
            outline: none;

        }


      }
      
      
      .range{
        display: flex; 
        flex-direction: row;
        align-items: center;
        width: 100%;

        padding: 0.5rem;
            
        button{
              display: flex;
              justify-content: flex-start;
              //margin-left: 1rem;
              background: #1e1f20;
              color: #e3e3e3;
              cursor: pointer;
              border: none;
        }

        p{
          display: flex; 
          justify-content: center;
          padding-top: 4px;
          margin-left: 0.5rem;
          color: #e3e3e3;
          font-family: "Lucida Console", "Courier New", monospace;
          font-weight: 400;
          font-size: 16px;

        }



      }



      .repeat{
        display: flex; 
        flex-direction: row;
        align-items: center;
        width: 100%;
            
        padding: 0.5rem;

        button{
              display: flex;
              justify-content: flex-start;
              //margin-left: 1rem;
              background: #1e1f20;
              color: #e3e3e3;
              cursor: pointer;
              border: none;
        }

        p{
          display: flex; 
          justify-content: center;
          padding-top: 4px;
          margin-left: 0.5rem;
          color: #e3e3e3;
          font-family: "Lucida Console", "Courier New", monospace;
          font-weight: 400;
          font-size: 16px;

        }



      }


    }
  }

