.tasks{
  
  display: flex; 
  flex-direction: column; 
  align-items: center;

  background: #1b1b1b;
  min-height: 100vh;
  
  .mytasks{
    display: flex;
    flex-direction: column;

    min-height: 30rem;
    min-width: 43rem;

    background: #131314;
    border-radius: 16px;
    flex-shrink: 1;

    overflow: hidden;

    .heading{

      display: flex; 
      flex-direction: row; 

      align-items: center;

      min-height: 3rem;
      overflow: hidden;
      // background: red;
      justify-content: space-between;

      padding-right: 0.3rem;
      overflow: visible;
      z-index: 1;

      .title{

        display: flex; 
        flex-direction: row; 
        align-items: center;


        //background: green;
        min-height: 2.5rem;
        overflow: hidden;

        margin-left: 1rem;

        font-weight: 400; 
        font-size: 1.125rem;

        color: #e3e3e3;
        font-family: "Lucida Console", "Courier New", monospace;

      }
      

      .dropdown-wrapper{ 
        position: relative; /* This is the key */
        display: inline-block;
      
       .dropDownBtn{ 
         background: none;

         svg{
           border: 0.3rem solid transparent;
           border-radius: 50%;
         }
  
         svg:hover{
           background: #1b1b1b;
         }

         
  
       }

       .dropdown {
         position: absolute;
         top: 100%;     /* Below the button */
         right: 0;      /* Right-aligned with button */
         z-index: 999;  /* Float above everything */

         background: #36373a;
         color: #c2c5c3;
         border: none;
         padding: 8px;
         border-radius: 4px;
         box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
         min-width: 180px; /* optional */
         min-height: 60px;
         -webkit-box-shadow: 4px 4px 3px 1px rgba(0,0,0,0.25); 
         box-shadow: 4px 4px 3px 1px rgba(0,0,0,0.2);
        }

      }



        
      

    }

    .addtasks{
      
      display: flex; 
      min-height: 2.5rem;
      flex-direction: row;

      align-items: center;
      
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      background: #131314;

      border-radius: 2rem;

      gap: 1rem;

      button{

        background: #1b1b1b;

      }


      p{
        color: #a8c7fa;
        font-family: "Lucida Console", "Courier New", monospace;
        font-weight: 400;
      }
    }

    .addtasks:hover{
      background: rgb(168, 199, 250,0.1);

      button{
        background: rgb(168, 199, 250,0.1);

      }

    }


    .pendingtasks{
      background: #131314;
      min-height: 22rem;
      max-height: 48rem;
      //min-width: 100%
      overflow-y: auto;

      .tempaddclass{

        color: white;
      }
      
      

      .taskDisplayed{
        display: flex;
        flex-direction: row;
        align-items: center;

        min-height: 2rem;
        max-height: 2.01rem;

        padding-top: 0.5rem;

        button{
          margin-left: 1rem;
          background: #131314;
          color: #e3e3e3;
        }
        p{
         color: #e3e3e3;
         font-family: "Lucida Console", "Courier New", monospace;
         margin-left: 1rem;
         font-weight: 400; 
         font-size: 1rem;
        }

        &:hover {
            background: #1e1f20;
            button {
              background-color: #1e1f20;
        
              svg {
                // fill: #00bcd4; // change SVG color
              }
            }
        
        }

      }

    }

    .completedtasks{
      display: flex; 
      flex-direction: row; 

      align-items: center;
      min-height: 3rem;
      overflow: hidden;
      background: #131314;

      margin-left: 1rem;
      padding-bottom: 0.5rem;

      gap: 0.5rem;

      button{
        background: #131314;

        border: 0.2rem solid transparent;
        border-radius: 50%;
      }
      button:hover{
        background: #1b1b1b;
      }

      p{
        color: #e3e3e3;
        font-family: "Lucida Console", "Courier New", monospace;
        font-weight: 400;
        font-size: 0.875rem;

      }


      
    }

    
    
  }

  .mytasks:hover{
    -webkit-box-shadow: 0px -1px 0px 2px rgba(0,0,0,0.71); 
    box-shadow: 0px -1px 0px 2px rgba(0,0,0,0.3);
  }
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

