.main{
  display: flex; 
  flex-direction: column;

  background: #1b1b1b;

  min-height: 100vh;

  .block{
    display: flex; 
    min-width: 100%;
    min-height: 95vh;

    background: red;


  }

}

* {
  border: 0;
  margin: 0;
  padding: 0;
}


 
