.id{

  display: flex; 
  flex-direction: column; 
  background: #1b1b1b;
  min-height: 100vh;

  .header{
    display: flex;
    flex-direction: row;
    margin: 1rem;

    align-items: center;
    gap: 1rem;

    background: #1b1b1b;

    button{
      padding: 0.5rem;
      color: red;
    }

    .title{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
       h3{
           font-weight: 400; 
           font-size: 1.5rem;
           color: #e3e3e3;
           font-family: "Lucida Console", "Courier New", monospace;
       }
    }

  }

  .middle{
    display: flex;
    flex-direction: column;
    background: #1b1b1b;
    margin-left: 4rem;
    justify-content: space-between;
    gap: 1rem;

    .details{
      display: flex; 
      flex-direction: column;
      gap: 1rem;
       h3{
           font-weight: 400; 
           font-size: 1.5rem;
           color: #e3e3e3;
           font-family: "Lucida Console", "Courier New", monospace;
        }

        p{
           font-weight: 200; 
           font-size: 1rem;
           color: #e3e3e3;
           font-family: "Lucida Console", "Courier New", monospace;
        }
    }


    .time{
      display: flex;
      flex-direction: column;
      gap: 1rem;
    
      .timerface{
          color: #e3e3e3;
          font-size: 1rem;
          font-family: "Lucida Console", "Courier New", monospace;
          font-weight: 200; 

      }

      .controls{
        display: flex; 
        flex-direction: row; 
        gap: 1rem;
        color: #e3e3e3;

        button{
          padding: 0.25rem;
        }
      }

    }
      
    
  }

  .bottom{
    display: flex; 
    flex-direction: row; 
    min-width: 95%;
    max-width: 95.1%;
    min-height: 1000px;
    background: blue;

      .textbox{
        display: flex;
        width: 100%;
        background: red;
        
        textarea{
            width: 70%;
            min-height: 70%;
        }
      }

  }


}

* {
  border: 0;
  margin: 0;
  padding: 0;
}


